/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 1002px;
	margin: 0 auto;
	font-family: 微軟正黑體;
}
.clearfix{
	clear: both;
}
.banner{
	background-image: url(../img/Banner.png);
	height: 418px;
}
.header{
	width: 1000px;
	height: 75px;
	background-color: #ffffff;
	box-shadow: 0 3px 2px -2px #dcdcdc;
}
.nav{
	height: 30px;
	background-color: #f6f6f6;
}
.nav ul{
	float: right;
}
.nav ul li{
	float: left;
	padding: 5px;
}
.nav ul li a{
	text-decoration-line: none;
	font-size: 14px;
}
.nav ul li img{
	vertical-align: middle;
	padding-right: 5px;
}
.facebook span{
	border-right: 2px solid #e8e8e8;
    color: #4460a0;
    padding-right: 8px;
}
.twitter span{
	color: #aadaf2;
	padding-right: 8px;
}

.logo{
	background-image: url(../img/logo.png);
	width: 170px;
	height: 36px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 5px;
	float: left;
}
.menu{
	float: right;
}
.menu li {
	float: left;
	font-size: 14px;
	padding: 15px 10px 15px 10px;
	margin: 0px 10px 0px 10px;
}
.menu li a{
	text-decoration: none;
	color:#00cc99;	
}
.menu li:hover{
	border-bottom: 3px solid;
	color:#00cc99;
}
.rect{
	height: 160px;
	background-color:rgba(50,50,50,25%);
	margin-top: 90px;
}
.banner p{
	font-size: 36px;
	color:#FFFFFF;
	line-height: 1.5;
	margin-left: 20px;
	padding-top: 20px;
}
.intro{
	margin-top: 65px;
	margin-bottom: 60px;
}
.card{
	height: 325px;
	width: 300px;
	float: left;
	border: 1px solid #f9f9f9;
	box-shadow: 0 5px 3px -2px #dcdcdc;
	margin: 15px;
}
.card img{
	display: block;
	margin: auto;
}
.card h2{
	text-align: center;
	font-weight: bold;
	line-height: 2;
}
.card p{
	line-height: 1.5;
}
.card li{
	list-style-type: square;
	font-size: 7px;
}
.card li span{
	font-size: 16px;
}



.table{
	height: 300px;
}
.table h2{
	text-align: center;
}
.form{
	height: 405px;
	background-image: url(../img/form-bg.png);
}
.footer{
	height: 120px;
}
